<div class="titleContainer">
    <h1>Productos disponibles</h1>
</div>

<div class="gridContainer">
    {{#each products}}
    <div class="card">
        <img src="imagen.jpg" alt="Imagen" class="card-image">
        <h2 class="card-title">{{this.title}}</h2>
        <p class="card-id">ID de producto: {{this._id}}</p>
        <p class="card-price"> precio: $ {{this.price}}</p>
        <button class="card-button" onclick="toggleDescripcion(this)" data-visible="false">Mostrar descripción</button>
        <p class="card-description">{{this.description}}</p>

    </div>
    {{/each}}
</div>

<script src="/js/index.js"></script>