<div class="titleContainer">
  <h1>Login</h1>
</div>
<div class="loginForm">
  <form action="/api/sessions/login" method="post">
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Ingresa tu email"
      required
    />
    <br />
    <input
      type="text"
      id="password"
      name="password"
      placeholder="Ingresa tu password"
      required
    />
    <br />
    <div class="d-flex flex-column mb-3">
      <button class="card-button" type="submit">Ingresar</button>
      <a
        href="http://localhost:8080/api/sessions/github"
        class="card-button bg-dark mt-3"
      >Ingresar con Github</a>
      <a
        href="http://localhost:8080/api/sessions/recoverpassword"
        class="card-button bg-info mt-3"
      >Recuperar contraseña</a>
      <a href="/register" class="card-button bg-secondary mt-3">Registrarse</a>
    </div>
  </form>

</div>