{{#if user}}
<div>
    <ul class="d-flex flex-row-reverse">
        <li><a class="mx-3" href="http://localhost:8080/api/sessions/logout">Cerrar Sesión</a> </li>
        <li><a class="mx-3" href="http://localhost:8080/realtimeproducts">Realtime (para admin)</a> </li>
        <li><a class="mx-3" href="http://localhost:8080/home">Home</a> </li>
    </ul>



</div>
<div>
    <h1>Bienvenido {{user.name}}!</h1>
    <br>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>

    
</div>
{{/if}}