<div>
    <a href="http://localhost:8080/home">Home</a>
    <a href="http://localhost:8080/profile">Perfil</a>
    <a href="http://localhost:8080/api/sessions/logout">Cerrar Sesión</a>
</div>

<div class="titleContainer">
    <h1>Productos disponibles en tiempo real</h1>
</div>

<div id="realTimeGallery" class="gridContainer"></div>

<div class="loadProduct">
    <div class="productPost">
        <h2>Cargar Producto</h2>
    </div>

    <form id="productForm" method="post" >
        <input type="text" id="productTitle" placeholder="Título" required>
        <br>
        <input type="text" id="productCode" placeholder="Código" required>
        <br>
        <input type="number" id="productPrice" placeholder="Precio" required>
        <br>
        <input type="number" id="productStock" placeholder="Cantidad stock" required>
        <br>
        <input type="text" id="productCategory" placeholder="Categoría" required>
        <br>
        <input type="text" id="productImage" placeholder="Ruta de imagen" required>
        <br>
        <textarea id="productDescription" placeholder="Descripción" required></textarea>
        <br>
        <button class="card-button" type="submit">Guardar Producto</button>
    </form>
</div>

<div class="deleteProduct">
    <div class="productPost">
        <h2>Eliminar Producto</h2>
    </div>
    <form id="deleteForm">
        <input type="text" id="idInput" placeholder="id del producto" required>
        <br>
        <button class="card-button" id="deleteButton" type="submit">Eliminar Producto</button>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>