<div>
    <form action="/api/sessions/mailing" method="POST">
        <p>Completa el siguiente campo con tu email registrado para recuperar la contraseña</p>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <input type="submit" value="Enviar" class="card-button bg-info mt-3">
    </form>
</div>